*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: gold;
    color: #972c7c;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #972c7c;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main .social-media{
    display: flex;
    align-content: center;
}

main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .alternative{
    margin-top: 1rem;
}

main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color:rgb(241, 7, 241);
    position: relative;

}

main .alternative span::before, main .alternative span::after{
    position: absolute;
    content:'';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgb(241, 7, 241);

}

main .alternative span::after{
    left: 50px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input{
    background: rgb(143, 243, 143);
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    color: black;
    outline: none;
    font-size: 1rem;
    border: 2px solid #972c7c;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #972c7c;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover{
    background: rgb(240, 112, 191);
}


